%h1 BStack Uploader

.row
  .span6.offset3
    - if signed_in?
      .text-center
        = link_to "Upload New File", file_upload_path, class: 'btn btn-large btn-success'
        -# TODO Listing of uploaded files with option to download
    -else
      .row
        .span3
          = link_to "Sign Up", signup_path, class: 'btn btn-large btn-primary'
        .span3.text-right
          = link_to "Sign In", login_path, class: 'btn btn-large btn-success'

