%h1 BStack Uploader

.row
  - if signed_in?
    .span6.offset3
      .text-center
        = link_to "Upload New File", file_upload_path, class: 'btn btn-large btn-success'
        -# TODO Listing of uploaded files with option to download
    = render 'uploads', user: current_user 
  -else
    .span6.offset3
      .span3
        = link_to "Sign Up", signup_path, class: 'btn btn-large btn-primary'
      .span2.text-right
        = link_to "Sign In", login_path, class: 'btn btn-large btn-success'

