%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "BStack", root_url, id: 'headline'
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", '#'
